.App {
  text-align: center;
}

.container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 5px;
  align-items: center;
  justify-items: center;

}
.img-container {
  width: 90%;
  height: 90%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


 
}